.ResetBtn {
  background-color: #ffb9aa;
  border: none;
  border-radius: 5px;
  color: #373737;
  cursor: pointer;
  margin: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.ResetBtn:hover {
  background-color: #b93333;
  color: #fff;
}
